body{
  
}

img{
  max-width: 100%;
}

.centrar{
  float:none;
}

.sacramento{
    font-family: 'Sacramento', cursive;
    font-size: 250%;
}

#bloque{
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
