body{
    font-family: "Century Gothic";
    margin: 100px auto;
    width: 400px;
}
h1{
    margin-bottom: 20px;
    text-align: center;
}
h2{
    color: gray;
    text-align: center;
}
.contenedor{
    text-align: center;
    width: 100%;
}
img{
    height: 85px;
    margin-left: 20px;    
}

.pedido{
    background: #000;
    font-family: "Century Gothic";
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}